<?xml version="1.0"?>
<launch>
  <arg name="ns" default="ugv1"/>
  <arg name="config_file" default="$(find estimator_vrpn_px4_rotor_state)/config/vrpn_ugv_rigid_state_estimator.yaml"/>
  <arg name="pose_source" default="vrpn"/>
  <arg name="imu_topic" default=""/>
  <arg name="pose_topic" default=""/>
  <arg name="world_frame" default="world"/>
  <arg name="estimator_frame" default="estimator"/>
  <arg name="publish_tf" default="true"/>
  <arg name="pose_transport" default="$(eval 'odometry' if arg('pose_source') == 'lio' else '')"/>

  <include file="$(find estimator_vrpn_px4_rotor_state)/launch/vrpn_ugv_rigid_state_estimator.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="config_file" value="$(arg config_file)"/>
    <arg name="pose_source" value="$(arg pose_source)"/>
    <arg name="imu_topic" value="$(arg imu_topic)"/>
    <arg name="pose_topic" value="$(arg pose_topic)"/>
    <arg name="pose_transport" value="$(arg pose_transport)"/>
  </include>
</launch>
